<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
   <title>Sezion - Gearman Job Server Status</title>
</head>
<body> 
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="http://code.highcharts.com/stock/highstock.js"></script>


   <h1 style='text-align:center;'> Gearman Job Server Status </h1>

   
   <div id="container">
   <% if (error==1){ 
      for (var i=0; i< number_functions; i++) {%>
         <div id="container_<%=i%>" style="width:100%"> </div>
      <% }
      }else {%>
         <h1><%=error%></h1>
   <% }%>
   </div>
   



   <script>

   <% if (error==1){ %>

   //save the input data for ease of use
   var hist_wait=<%-history_data_wait%>;
   var hist_running=<%-history_data_running%>;
   var hist_capable=<%-history_data_capable%>;
   var number_functions=<%=number_functions%>;
   var names= <%-names%>;
   var dates= <%-dates%>;
   var number_dates=<%=number_dates%>;


   $(function () { 

   var data_wait=[];
   var data_running=[];
   var data_capable=[];


   for (var i=0; i<number_functions; i++){    //for each worker one graph
    

      //graph 
         $('#container_'+i+'').highcharts({
               chart: {
                  width: 1256
               },
               
               title: {
                  text: 'Work:'+ names[i]           //name of function
               },
               xAxis: {
                  categories: dates[i],           //string array
                     labels: {
                        rotation: 90,
                        y: 35
                     }, 
                  max: 20
               },
               yAxis: {
                  allowDecimals: false, 
                  min:0
               },
               plotOptions: {
                  series: {
                     marker: {
                        enabled: false  
                     }
                  }
               },
               scrollbar: {
                  enabled: true, 
               },
               series: [{
                  lineWidth: 5, 
                  data: hist_wait[i],               //number array
                  step: 'right',                      
                  name: 'Number of jobs in the queue'
                  },
                  {
                  lineWidth: 5, 
                  data: hist_running[i] ,         //number array
                  step: 'center',                      
                  name: 'Number of running jobs'
                  },
                  {
                  lineWidth: 5,
                  data: hist_capable[i],          //number array
                  step: 'left',                      
                  name: 'Number of capable workers'
                  }
               ]
         });
         
      }
   });

   <%}%>

   </script>

</body>
{ 
  "DESCRIPTION"            :"gearman_status_graphs.conf",
  "http_port"              : 8080,
  "gearman_server_address" : "127.0.0.1",
  "gearman_server_port"    : 4730,
  "buffer_size"            : 2880,
  "interval_polling"       : 1000 //ms

}