<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
   <title>Sezion - Gearman Job Server Status</title>
</head>
<body> 
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="http://code.highcharts.com/stock/highstock.js"></script>


   <h1 style='text-align:center;'> Gearman Job Server Status </h1>

   
   <div id="container">
   <% if (error==1){ 
      for (var i=0; i< number_functions; i++) {%> 
         <div id="container_<%=i%>" style="width:100%"> 
         </div>
      
         <div align="center">
            <table BORDER=2px>
            <thead>
               <tr>
                  <th></th>
                  <th>Capable workers:</th>
                  <th>Running jobs:</th>
                  <th>Waiting jobs:</th>
               </tr> 
            </thead>     
            <tbody id='max_average_table_<%=i%>'>
               <tr>
                  <td>Max:</td>
                  <td> <%-max_capables[i]%>  </td>
                  <td> <%-max_running[i]%>   </td>
                  <td> <%-max_waiting[i]%>   </td>
               </tr>
               <tr>
                  <td>Average:</td>
                  <td><%-average_capables[i]%> </td>
                  <td><%-average_running[i]%>  </td>
                  <td><%-average_waiting[i]%>  </td>
               </tr>
            </tbody>   
         </table> 
      </div> 
      
      <div>      
         <button id="previous_<%=i%>" onClick="getLog(names[<%=i%>], <%=i%>, 0, --page[<%=i%>])" >Previous</button>
         <button id="next_<%=i%>" onClick="getLog(names[<%=i%>],<%=i%>,1, ++page[<%=i%>])" disabled>Next</button>
      </div>
    
         
      <div class="span12"></div>
      <% }
      }else {%>
         <h1><%=error%></h1>
   <% }%>
   </div>
   




   <script>

   <% if (error==1){ %>

   //save the input data for ease of use
   var hist_wait=<%-history_data_wait%>;
   var hist_running=<%-history_data_running%>;
   var hist_capable=<%-history_data_capable%>;
   var number_functions=<%=number_functions%>;
   var names= <%-names%>;
   var dates= <%-dates%>;
   var number_dates=<%=number_dates%>;   

   $(function () { 

   for (var i=0; i<number_functions; i++){    //for each worker one graph  

      //graph 
         $('#container_'+i+'').highcharts({
               chart: {
                  width: 1256
               },
               
               title: {
                  text: 'Work:'+ names[i]           //name of function
               },
               xAxis: {
                  categories: dates[i],           //string array
                     labels: {
                        rotation: 90,
                        y: 35
                     }, 
                  max: 20
               },
               yAxis: {
                  allowDecimals: false, 
                  min:0
               },
               plotOptions: {
                  series: {
                     marker: {
                        enabled: false  
                     }
                  }
               },
               scrollbar: {
                  enabled: true, 
               },
               series: [{
                  lineWidth: 5, 
                  data: hist_wait[i],               //number array
                  step: 'right',                      
                  name: 'Number of jobs in the queue'
                  },
                  {
                  lineWidth: 5, 
                  data: hist_running[i] ,         //number array
                  step: 'center',                      
                  name: 'Number of running jobs'
                  },
                  {
                  lineWidth: 5,
                  data: hist_capable[i],          //number array
                  step: 'left',                      
                  name: 'Number of capable workers'
                  }
               ]
         });    
      }
   });


   <%}%>

  

function getLog (nameFunction, numberFunction, prev_next, page) {
  var content='';
  var request = $.ajax({
    url: "/",
    type: "POST",
    data: {nameFunction:nameFunction, numberOfFunction:numberFunction, prev_next:prev_next, page:page},
    dataType: "json"
  });
  
  request.done (function (result) {
   var dates=result.date;
    //graph 
         $('#container_'+result.numberOfFunction).highcharts({
               chart: {
                  width: 1256
               },
               
               title: {
                  text: 'Work:'+ result.name         
               },
               xAxis: {
                  categories: dates,           
                     labels: {
                        rotation: 90,
                        y: 35
                     }, 
                  max: 20
               },
               yAxis: {
                  allowDecimals: false, 
                  min:0
               },
               plotOptions: {
                  series: {
                     marker: {
                        enabled: false  
                     }
                  }
               },
               scrollbar: {
                  enabled: true, 
               },
               series: [{
                  lineWidth: 5, 
                  data: result.wait,             
                  step: 'right',                      
                  name: 'Number of jobs in the queue'
                  },
                  {
                  lineWidth: 5, 
                  data: result.running ,      
                  step: 'center',                      
                  name: 'Number of running jobs'
                  },
                  {
                  lineWidth: 5,
                  data: result.capables,          //number array
                  step: 'left',                      
                  name: 'Number of capable workers'
                  }
               ]
         }); 
         
         //modify the table of averages and maximum
         $('#next_'+result.numberOfFunction).attr ("disabled", false);
         $('#max_average_table_'+result.numberOfFunction).empty();
         content+='<tr><td>Max:</td><td>'+result.max_capables+'</td>';
         content+='<td>'+result.max_running+'</td>';
         content+='<td>'+result.max_waiting+'</td></tr>';
         content+='<tr><td>Average:</td>';
         content+='<td>'+result.average_capables+'</td>';
         content+='<td>'+result.average_running+'</td>';
         content+='<td>'+result.average_waiting+'</td></tr>';
         $('#max_average_table_'+result.numberOfFunction).append(content);
         
         //enable and disable he buttons
         if (page==0) $('#next_'+result.numberOfFunction).attr ("disabled", true);
         if (result.dates.length==0) $('#previous_'+result.numberOfFunction).attr ("disabled", true);
   
  });
  
  request.fail (function (jqXHR, textStatus) {
    alert( "[gearmanGetLog]: Request failed: " + textStatus );
  });

}

//array page to know on which page each function
var page=[];
for (i=0; i<number_functions; i++){
   page[i]=0;
}

</script>
</body>
